In [1]:
# Importando SQL Lite

import sqlite3 as lite

In [2]:
# Criando conexão / caso não existir será criando novo banco de dados

con = lite.connect('livraria.db')

In [3]:
# Verificando o que tem dentro da tabela o resultado é uma lista vazia

cur = con.cursor()
cur.execute("SELECT * FROM Categoria")

print(cur.fetchall())

[]

In [4]:
# Inserindo dados na tabela Categoria

with con:
    cur = con.cursor()
    cur.execute("INSERT INTO Categoria (nome) VALUES('Romance')")
    cur.execute("INSERT INTO Categoria (nome) VALUES('Terror')")
    cur.execute("INSERT INTO Categoria (nome) VALUES('Aventura')")
    cur.execute("INSERT INTO Categoria (nome) VALUES('Comedia')")

# Obs. com o with não precisa fechar o banco de dados Ex. con.close()

In [5]:
# Verificando os dados inseridos

cur = con.cursor()
cur.execute("SELECT * FROM Categoria")

print(cur.fetchall())

[(1, 'Romance'), (2, 'Terror'), (3, 'Aventura'), (4, 'Comedia')]

In [8]:
# Inserindo dados na tabela Menbro

# Observe que de um novo jeito aconselhável para programar

# Mais fácil para usar com vários dados usando FOR
 
valores = ['Pri', 'F', '13545866', 'Sao Paulo-SP']

with con:
    cur = con.cursor()
    query = ("INSERT INTO Membro (nome, genero, tel, endereco) VALUES(?,?,?,?)")
    cur.execute(query, valores)
    

# Obs. com o with não precisa fechar o banco de dados Ex. con.close()

In [9]:
# Verificando os dados inseridos

cur = con.cursor()
cur.execute("SELECT * FROM Membro")

print(cur.fetchall())

[(1, 'Leo', 'M', '123456789', 'Salvador-Ba'), (2, 'Pri', 'F', '13545866', 'Sao Paulo-SP')]

In [12]:
# Inserindo dados na tabela Livro

valores = ['Racismo Estrutural', 'Silvo Almeida', 'Pretos', 2, 10, '20/01/2023']

with con:
    cur = con.cursor()
    query = ("INSERT INTO Livro ('titulo', 'autor', 'editora', 'categoria', 'copias', 'adicionado_em') VALUES(?, ?, ?, ?, ?, ?)")
    cur.execute(query, valores)
    

# Obs. com o with não precisa fechar o banco de dados Ex. con.close()

In [13]:
# Verificando os dados inseridos

cur = con.cursor()
cur.execute("SELECT * FROM Livro")

print(cur.fetchall())

[(1, 'O Rei das Fraudes', 'John Grisham', 'Primor', 3, 15, '25/01/2023'), (2, 'Racismo Estrutural', 'Silvo Almeida', 'Pretos', 2, 10, '20/01/2023')]

In [24]:
# Inserindo dados na tabela Livros Alugados

valores = [2, 2, '21.01.2023', '0']

with con:
    cur = con.cursor()
    query = ("INSERT INTO Livros_Alugados ( 'id_livro', 'id_membro', 'alugado_em', 'data_de_retorno' ) VALUES(?, ?, ?, ?)")
    cur.execute(query, valores)
    

# Obs. com o with não precisa fechar o banco de dados Ex. con.close()

In [25]:
# Verificando os dados inseridos

cur = con.cursor()
cur.execute("SELECT * FROM Livros_Alugados")

print(cur.fetchall())

[(1, 1, 1, '25.01.2023', '01.01.2000'), (2, 2, 2, '21.01.2023', 0)]

In [29]:
# Atualizando os dados na tabela Livro

valores = ['20/01/2020', 2]

with con:
    cur = con.cursor()
    query = ("UPDATE Livro SET adicionado_em = ? WHERE id = ?")
    cur.execute(query, valores)
    

# Obs. com o with não precisa fechar o banco de dados Ex. con.close()

In [30]:
# Verificando os dados alterado

cur = con.cursor()
cur.execute("SELECT * FROM Livro")

print(cur.fetchall())

[(1, 'O Rei das Fraudes', 'John Grisham', 'Primor', 3, 15, '25/01/2023'), (2, 'Racismo Estrutural', 'Silvo Almeida', 'Pretos', 2, 10, '20/01/2020')]

In [31]:
# Apagar dados na tabela Categoria

valores = [4]

with con:
    cur = con.cursor()
    query = ("DELETE FROM Categoria WHERE id = ?")
    cur.execute(query, valores)
    

# Obs. com o with não precisa fechar o banco de dados Ex. con.close()

In [32]:
# Verificando os dados alterado

cur = con.cursor()
cur.execute("SELECT * FROM Categoria")

print(cur.fetchall())

[(1, 'Romance'), (2, 'Terror'), (3, 'Aventura')]